body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;

  color: 595959;
  font-size: 14px;
  font-weight: 400;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;

  width: 1200px;
  background-color: #ffff;
  margin: 40px auto;
}

.profession {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.task-description {
  color: #595959;
}

.my-name {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
}

.me-description {
  font-size: 14px;
}

.projects-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
}

.projects-item {
  color: #595959;
}

.experience-title {
  font-size: 22px;
}
.third-position {
  font-size: 16px;
}

.working-period {
  color: #a8a8a8;
  font-size: 12px;
}

.about-me-section {
  margin-top: 102px;
  margin-right: 342px;
  margin-bottom: 40px;
}

.projects-section {
}

margin-right: 257px;
margin-bottom: 51px;

.work-experience-section {
  margin-right: 217px;
  margin-bottom: 16px;
}

.second-job {
  margin-right: 217px;
  margin-bottom: 20px;
}

.first-job {
  margin-right: 217px;
  margin-bottom: 43px;
}

.education-section {
  margin-right: 415px;
  margin-bottom: 107px;
}

/* Side-bar section */
.side-bar {
  width: 370px;
  background-color: #1e2939;
  color: #ffffff;
  padding: 40px 0;
}

.contact-section {
  margin: 51px 0 0 47px;
}

.techskills-section {
  margin: 51px 0 0 47px;
}

/* Soft skills section */
.softskills-section {
  margin: 43px 217px 366px 40px;
}

.softskills-list {
  margin: 0;
  padding: 0;
  padding-left: 17px;
}

.softskills-title {
  color: #ffffff;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;

  padding: 0;
  margin: 0;

  margin-bottom: 8px;
}

.softskills-item {
  color: #fb6d3a;
}

.skills-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;

  line-height: 1.7;
}
